# Are choice frequencies the same across identical games?

## Load packages

In [1]:
import numpy as np
import pandas as pd
%load_ext rpy2.ipython
%R require(XNomial)

/usr/local/lib/python3.5/site-packages/rpy2/rinterface/__init__.py:186: RRuntimeWarning: Loading required package: XNomial

  warnings.warn(x, RRuntimeWarning)

array([1], dtype=int32)

## Import data

In [2]:
df = pd.read_csv('stahl95.csv')
keys = df['matrixrow'].unique()

## Define functions

In [3]:
def make_choices(j,k):
    choices = np.zeros([3,j])
    for i in range(j):
        choices_ind = df[df['matrixrow'] == keys[k]]['choicerow'].index
        choices_tmp = np.matrix(df[df['matrixrow'] == keys[k]]['choicerow'][choices_ind[i]])
        choices[0,i] = choices_tmp[0,0]
        choices[1,i] = choices_tmp[1,0]
        choices[2,i] = choices_tmp[2,0]
    return choices

In [4]:
%%R
test_multi = function(choices, i, j){
observed = choices[,i]
expected = choices[,j]
library(XNomial)
return(xmulti(observed, expected, detail = 2))
}

## Analyze game: 
<table>
  <tr>
    <td>T</td>
    <td>25</td>
    <td>30</td>
    <td>100</td>
  </tr>
  <tr>
    <td>M</td>
    <td>40</td>
    <td>45</td>
    <td>65</td>
  </tr>
  <tr>
    <td>B</td>
    <td>31</td>
    <td>0</td>
    <td>40</td>
  </tr>
</table>

In [5]:
df[df['matrixrow'] == keys[0]]

,paper,game,matrixrow,matrixcol,choicerow,choicecol,shape,symmetric,subjects,unique
0,stahlwilson1995,1,25 30 100; 40 45 65; 31 0 40,NaN,7 48; 40 48; 1 48,NaN,3 3,1,NaN,4
1,haruvyetal2001,1,25 30 100; 40 45 65; 31 0 40,NaN,25 58; 33 58; 0 58,NaN,3 3,1,NaN,4
2,haruvystahl2007,3,25 30 100; 40 45 65; 31 0 40,NaN,65 147; 76 147; 6 147,NaN,3 3,1,NaN,4
3,haruvystahl1998,3,25 30 100; 40 45 65; 31 0 40,NaN,20 47; 25 47; 2 47,NaN,3 3,1,NaN,4

Note: cannot test game from Haruvy et al. 2001 as <b>choicerow</b> contains a '0' from ('25 58; 33 58; 0 58').

In [6]:
choices = make_choices(4,0)

### stahlwilson1995

In [7]:
%%R -i choices
test_multi(choices,1,3)

P value  (LLR)  =  1.873e-05
P value (Prob)  =  2.861e-05
P value (Chisq) =  0.0007082

In [8]:
%%R -i choices
test_multi(choices,1,4)

P value  (LLR)  =  4.469e-05
P value (Prob)  =  8.838e-05
P value (Chisq) =  0.0009918

### haruvystahl2007

In [9]:
%%R -i choices
test_multi(choices,3,1)

P value  (LLR)  =  2.205e-18
P value (Prob)  =  1.707e-18
P value (Chisq) =  1.528e-12

In [10]:
%%R -i choices
test_multi(choices,3,4)

P value  (LLR)  =  0.9274
P value (Prob)  =  0.9258
P value (Chisq) =  0.9274

### haruvystahl1998

In [11]:
%%R -i choices
test_multi(choices,4,1)

P value  (LLR)  =  3.949e-06
P value (Prob)  =  2.92e-06
P value (Chisq) =  5.901e-05

In [12]:
%%R -i choices
test_multi(choices,4,3)

P value  (LLR)  =  0.9674
P value (Prob)  =  0.9022
P value (Chisq) =  0.9674

## Analyze game: 
<table>
  <tr>
    <td>T</td>
    <td>75</td>
    <td>40</td>
    <td>45</td>
  </tr>
  <tr>
    <td>M</td>
    <td>70</td>
    <td>15</td>
    <td>100</td>
  </tr>
  <tr>
    <td>B</td>
    <td>70</td>
    <td>60</td>
    <td>0</td>
  </tr>
</table>

In [13]:
df[df['matrixrow'] == keys[1]]

,paper,game,matrixrow,matrixcol,choicerow,choicecol,shape,symmetric,subjects,unique
4,stahlwilson1995,2,75 40 45; 70 15 100; 70 60 0,NaN,30 48; 12 48; 6 48,NaN,3 3,1,NaN,4
5,haruvyetal2001,2,75 40 45; 70 15 100; 70 60 0,NaN,15 58; 31 58; 12 58,NaN,3 3,1,NaN,4
6,haruvystahl2007,15,75 40 45; 70 15 100; 70 60 0,NaN,43 147; 77 147; 27 147,NaN,3 3,1,NaN,4
7,haruvystahl1998,15,75 40 45; 70 15 100; 70 60 0,NaN,9 47; 29 47; 9 47,NaN,3 3,1,NaN,4

In [14]:
choices = make_choices(4,1)

### stahlwilson1995

In [15]:
%%R -i choices
test_multi(choices,1,2)

P value  (LLR)  =  1.185e-06
P value (Prob)  =  4.198e-07
P value (Chisq) =  2.364e-07

In [16]:
%%R -i choices
test_multi(choices,1,3)

P value  (LLR)  =  1.339e-05
P value (Prob)  =  7.652e-06
P value (Chisq) =  5.546e-06

In [17]:
%%R -i choices
test_multi(choices,1,4)

P value  (LLR)  =  2.35e-10
P value (Prob)  =  1.105e-10
P value (Chisq) =  5.293e-11

### haruvyetal2001

In [18]:
%%R -i choices
test_multi(choices,2,1)

P value  (LLR)  =  1.348e-07
P value (Prob)  =  3.786e-08
P value (Chisq) =  8.079e-07

In [19]:
%%R -i choices
test_multi(choices,2,3)

P value  (LLR)  =  0.8233
P value (Prob)  =  0.7969
P value (Chisq) =  0.8233

In [20]:
%%R -i choices
test_multi(choices,2,4)

P value  (LLR)  =  0.3981
P value (Prob)  =  0.3165
P value (Chisq) =  0.3408

### haruvystahl2007

In [21]:
%%R -i choices
test_multi(choices,3,1)

P value  (LLR)  =  8.498e-16
P value (Prob)  =  4.52e-16
P value (Chisq) =  2.619e-13

In [22]:
%%R -i choices
test_multi(choices,3,2)

P value  (LLR)  =  0.5965
P value (Prob)  =  0.5809
P value (Chisq) =  0.5848

In [23]:
%%R -i choices
test_multi(choices,3,4)

P value  (LLR)  =  0.01134
P value (Prob)  =  0.009588
P value (Chisq) =  0.007037

### haruvystahl1998

In [24]:
%%R -i choices
test_multi(choices,4,1)

P value  (LLR)  =  2.523e-09
P value (Prob)  =  1.496e-09
P value (Chisq) =  6.939e-08

In [25]:
%%R -i choices
test_multi(choices,4,2)

P value  (LLR)  =  0.4631
P value (Prob)  =  0.518
P value (Chisq) =  0.4988

In [26]:
%%R -i choices
test_multi(choices,4,3)

P value  (LLR)  =  0.2702
P value (Prob)  =  0.2918
P value (Chisq) =  0.2989

## Analyze game: 
<table>
  <tr>
    <td>T</td>
    <td>30</td>
    <td>50</td>
    <td>100</td>
  </tr>
  <tr>
    <td>M</td>
    <td>40</td>
    <td>45</td>
    <td>10</td>
  </tr>
  <tr>
    <td>B</td>
    <td>35</td>
    <td>60</td>
    <td>0</td>
  </tr>
</table>

In [27]:
df[df['matrixrow'] == keys[2]]

,paper,game,matrixrow,matrixcol,choicerow,choicecol,shape,symmetric,subjects,unique
8,stahlwilson1995,4,30 50 100; 40 45 10; 35 60 0,NaN,26 48; 15 48; 7 48,NaN,3 3,1,NaN,5
9,haruvyetal2001,5,30 50 100; 40 45 10; 35 60 0,NaN,45 58; 10 58; 3 58,NaN,3 3,1,NaN,5
10,haruvystahl2007,9,30 50 100; 40 45 10; 35 60 0,NaN,120 147; 19 147; 8 147,NaN,3 3,1,NaN,5
11,stahlharuvy2008,3,30 50 100; 40 45 10; 35 60 0,NaN,64 75; 8 75; 3 75,NaN,3 3,1,NaN,5
12,haruvystahl1998,9,30 50 100; 40 45 10; 35 60 0,NaN,38 47; 9 47; 0 47,NaN,3 3,1,NaN,5

Note: cannot test game from Haruvy Stahl 1998 as <b>choicerow</b> contains a '0' from ('38 47; 9 47; 0 47').

In [28]:
choices = make_choices(4,2)

### stahlwilson1995

In [29]:
%%R -i choices
test_multi(choices,1,2)

P value  (LLR)  =  0.001077
P value (Prob)  =  0.0004242
P value (Chisq) =  0.0009926

In [30]:
%%R -i choices
test_multi(choices,1,3)

P value  (LLR)  =  0.0001121
P value (Prob)  =  2.459e-05
P value (Chisq) =  8.525e-05

In [31]:
%%R -i choices
test_multi(choices,1,4)

P value  (LLR)  =  7.547e-07
P value (Prob)  =  3.867e-07
P value (Chisq) =  3.745e-06

### haruvyetal2001

In [32]:
%%R -i choices
test_multi(choices,2,1)

P value  (LLR)  =  0.000968
P value (Prob)  =  0.001278
P value (Chisq) =  0.001656

In [33]:
%%R -i choices
test_multi(choices,2,3)

P value  (LLR)  =  0.6751
P value (Prob)  =  0.6
P value (Chisq) =  0.6461

In [34]:
%%R -i choices
test_multi(choices,2,4)

P value  (LLR)  =  0.2877
P value (Prob)  =  0.1748
P value (Chisq) =  0.2153

### haruvystahl2007

In [35]:
%%R -i choices
test_multi(choices,3,1)

P value  (LLR)  =  3.074e-11
P value (Prob)  =  3.504e-11
P value (Chisq) =  3.01e-09

In [36]:
%%R -i choices
test_multi(choices,3,2)

P value  (LLR)  =  0.3775
P value (Prob)  =  0.3751
P value (Chisq) =  0.3866

In [37]:
%%R -i choices
test_multi(choices,3,4)

P value  (LLR)  =  0.4782
P value (Prob)  =  0.3491
P value (Chisq) =  0.447

### stahlharuvy2008

In [38]:
%%R -i choices
test_multi(choices,4,1)

P value  (LLR)  =  7.248e-08
P value (Prob)  =  1.12e-07
P value (Chisq) =  1.681e-06

In [39]:
%%R -i choices
test_multi(choices,4,2)

P value  (LLR)  =  0.2616
P value (Prob)  =  0.2979
P value (Chisq) =  0.2713

In [40]:
%%R -i choices
test_multi(choices,4,3)

P value  (LLR)  =  0.7188
P value (Prob)  =  0.8218
P value (Chisq) =  0.7188

## Analyze game: 
<table>
  <tr>
    <td>T</td>
    <td>25</td>
    <td>30</td>
    <td>100</td>
  </tr>
  <tr>
    <td>M</td>
    <td>60</td>
    <td>31</td>
    <td>51</td>
  </tr>
  <tr>
    <td>B</td>
    <td>95</td>
    <td>30</td>
    <td>0</td>
  </tr>
</table>

In [41]:
df[df['matrixrow'] == keys[3]]

,paper,game,matrixrow,matrixcol,choicerow,choicecol,shape,symmetric,subjects,unique
13,stahlwilson1995,6,25 30 100; 60 31 51; 95 30 0,NaN,11 48; 20 48; 17 48,NaN,3 3,1,NaN,4
14,haruvyetal2001,7,25 30 100; 60 31 51; 95 30 0,NaN,31 58; 8 58; 19 58,NaN,3 3,1,NaN,4
15,haruvystahl2007,18,25 30 100; 60 31 51; 95 30 0,NaN,72 147; 28 147; 47 147,NaN,3 3,1,NaN,4
16,haruvystahl1998,18,25 30 100; 60 31 51; 95 30 0,NaN,25 47; 14 47; 8 47,NaN,3 3,1,NaN,4

In [42]:
choices = make_choices(4,3)

### stahlwilson1995

In [43]:
%%R -i choices
test_multi(choices,1,2)

P value  (LLR)  =  7.468e-07
P value (Prob)  =  4.003e-07
P value (Chisq) =  4.694e-07

In [44]:
%%R -i choices
test_multi(choices,1,3)

P value  (LLR)  =  0.0001532
P value (Prob)  =  9.462e-05
P value (Chisq) =  7.047e-05

In [45]:
%%R -i choices
test_multi(choices,1,4)

P value  (LLR)  =  6.983e-05
P value (Prob)  =  3.096e-05
P value (Chisq) =  7.864e-05

### haruvyetal2001

In [46]:
%%R -i choices
test_multi(choices,2,1)

P value  (LLR)  =  1.811e-07
P value (Prob)  =  9.641e-08
P value (Chisq) =  8.024e-08

In [47]:
%%R -i choices
test_multi(choices,2,3)

P value  (LLR)  =  0.5419
P value (Prob)  =  0.6333
P value (Chisq) =  0.5864

In [48]:
%%R -i choices
test_multi(choices,2,4)

P value  (LLR)  =  0.00179
P value (Prob)  =  0.001592
P value (Chisq) =  0.00135

### haruvystahl2007

In [49]:
%%R -i choices
test_multi(choices,3,1)

P value  (LLR)  =  8.648e-13
P value (Prob)  =  6.136e-13
P value (Chisq) =  4.91e-13

In [50]:
%%R -i choices
test_multi(choices,3,2)

P value  (LLR)  =  0.2006
P value (Prob)  =  0.1771
P value (Chisq) =  0.1761

In [51]:
%%R -i choices
test_multi(choices,3,4)

P value  (LLR)  =  1.492e-05
P value (Prob)  =  1.256e-05
P value (Chisq) =  5.145e-06

### haruvystahl1998

In [52]:
%%R -i choices
test_multi(choices,4,1)

P value  (LLR)  =  3.385e-05
P value (Prob)  =  2.775e-05
P value (Chisq) =  5.322e-06

In [53]:
%%R -i choices
test_multi(choices,4,2)

P value  (LLR)  =  0.005067
P value (Prob)  =  0.003776
P value (Chisq) =  0.002549

In [54]:
%%R -i choices
test_multi(choices,4,3)

P value  (LLR)  =  0.03991
P value (Prob)  =  0.03687
P value (Chisq) =  0.04149

## Analyze game: 
<table>
  <tr>
    <td>T</td>
    <td>30</td>
    <td>100</td>
    <td>22</td>
  </tr>
  <tr>
    <td>M</td>
    <td>35</td>
    <td>0</td>
    <td>45</td>
  </tr>
  <tr>
    <td>B</td>
    <td>51</td>
    <td>50</td>
    <td>20</td>
  </tr>
</table>

In [55]:
df[df['matrixrow'] == keys[4]]

,paper,game,matrixrow,matrixcol,choicerow,choicecol,shape,symmetric,subjects,unique
17,stahlwilson1995,11,30 100 22; 35 0 45; 51 50 20,NaN,13 48; 4 48; 31 48,NaN,3 3,1,NaN,4
18,haruvyetal2001,14,30 100 22; 35 0 45; 51 50 20,NaN,33 58; 2 58; 23 58,NaN,3 3,1,NaN,4
19,haruvystahl2007,12,30 100 22; 35 0 45; 51 50 20,NaN,96 147; 13 147; 38 147,NaN,3 3,1,NaN,4
20,haruvystahl1998,12,30 100 22; 35 0 45; 51 50 20,NaN,28 47; 3 47; 16 47,NaN,3 3,1,NaN,4

In [56]:
choices = make_choices(4,4)

### stahlwilson1995

In [57]:
%%R -i choices
test_multi(choices,1,2)

P value  (LLR)  =  9.649e-05
P value (Prob)  =  6.994e-05
P value (Chisq) =  0.0007224

In [58]:
%%R -i choices
test_multi(choices,1,3)

P value  (LLR)  =  3.983e-08
P value (Prob)  =  3.394e-08
P value (Chisq) =  4.187e-07

In [59]:
%%R -i choices
test_multi(choices,1,4)

P value  (LLR)  =  2.201e-05
P value (Prob)  =  1.447e-05
P value (Chisq) =  0.0001909

### haruvyetal2001

In [60]:
%%R -i choices
test_multi(choices,2,1)

P value  (LLR)  =  9.751e-06
P value (Prob)  =  9.942e-06
P value (Chisq) =  1.9e-05

In [61]:
%%R -i choices
test_multi(choices,2,3)

P value  (LLR)  =  0.03777
P value (Prob)  =  0.04398
P value (Chisq) =  0.03303

In [62]:
%%R -i choices
test_multi(choices,2,4)

P value  (LLR)  =  0.4563
P value (Prob)  =  0.5726
P value (Chisq) =  0.5218

### haruvystahl2007

In [63]:
%%R -i choices
test_multi(choices,3,1)

P value  (LLR)  =  1.085e-22
P value (Prob)  =  6.202e-23
P value (Chisq) =  5.341e-17

In [64]:
%%R -i choices
test_multi(choices,3,2)

P value  (LLR)  =  8.842e-05
P value (Prob)  =  6.031e-05
P value (Chisq) =  0.000109

In [65]:
%%R -i choices
test_multi(choices,3,4)

P value  (LLR)  =  0.07782
P value (Prob)  =  0.06843
P value (Chisq) =  0.07871

### haruvystahl1998

In [66]:
%%R -i choices
test_multi(choices,4,1)

P value  (LLR)  =  1.629e-05
P value (Prob)  =  1.221e-05
P value (Chisq) =  2.86e-05

In [67]:
%%R -i choices
test_multi(choices,4,2)

P value  (LLR)  =  0.5025
P value (Prob)  =  0.3589
P value (Chisq) =  0.5025

In [68]:
%%R -i choices
test_multi(choices,4,3)

P value  (LLR)  =  0.4411
P value (Prob)  =  0.4333
P value (Chisq) =  0.4123

## Analyze game: 
<table>
  <tr>
    <td>T</td>
    <td>40</td>
    <td>15</td>
    <td>70</td>
  </tr>
  <tr>
    <td>M</td>
    <td>22</td>
    <td>80</td>
    <td>0</td>
  </tr>
  <tr>
    <td>B</td>
    <td>30</td>
    <td>100</td>
    <td>55</td>
  </tr>
</table>

In [69]:
df[df['matrixrow'] == keys[5]]

,paper,game,matrixrow,matrixcol,choicerow,choicecol,shape,symmetric,subjects,unique
21,stahlwilson1995,12,40 15 70; 22 80 0; 30 100 55,NaN,26 48; 3 48; 19 48,NaN,3 3,1,NaN,4
22,haruvyetal2001,15,40 15 70; 22 80 0; 30 100 55,NaN,17 58; 2 58; 39 58,NaN,3 3,1,NaN,4
23,haruvystahl2007,6,40 15 70; 22 80 0; 30 100 55,NaN,32 147; 5 147; 110 147,NaN,3 3,1,NaN,4
24,haruvystahl1998,6,40 15 70; 22 80 0; 30 100 55,NaN,14 47; 1 47; 32 47,NaN,3 3,1,NaN,4

In [70]:
choices = make_choices(4,5)

### stahlwilson1995

In [71]:
%%R -i choices
test_multi(choices,1,2)

P value  (LLR)  =  0.0003454
P value (Prob)  =  0.0002425
P value (Chisq) =  0.001465

In [72]:
%%R -i choices
test_multi(choices,1,3)

P value  (LLR)  =  1.754e-06
P value (Prob)  =  6.123e-07
P value (Chisq) =  3.189e-05

In [73]:
%%R -i choices
test_multi(choices,1,4)

P value  (LLR)  =  0.0001256
P value (Prob)  =  8.755e-05
P value (Chisq) =  0.0007617

### haruvyetal2001

In [74]:
%%R -i choices
test_multi(choices,2,1)

P value  (LLR)  =  0.0001113
P value (Prob)  =  0.000116
P value (Chisq) =  0.0003238

In [75]:
%%R -i choices
test_multi(choices,2,3)

P value  (LLR)  =  0.4001
P value (Prob)  =  0.3363
P value (Chisq) =  0.433

In [76]:
%%R -i choices
test_multi(choices,2,4)

P value  (LLR)  =  0.843
P value (Prob)  =  0.6275
P value (Chisq) =  0.843

### haruvystahl2007

In [77]:
%%R -i choices
test_multi(choices,3,1)

P value  (LLR)  =  3.085e-17
P value (Prob)  =  4.067e-17
P value (Chisq) =  5.847e-12

In [78]:
%%R -i choices
test_multi(choices,3,2)

P value  (LLR)  =  0.1217
P value (Prob)  =  0.1198
P value (Chisq) =  0.1184

In [79]:
%%R -i choices
test_multi(choices,3,4)

P value  (LLR)  =  0.09521
P value (Prob)  =  0.05081
P value (Chisq) =  0.06812

### haruvystahl1998

In [80]:
%%R -i choices
test_multi(choices,4,1)

P value  (LLR)  =  0.0003161
P value (Prob)  =  0.0004524
P value (Chisq) =  0.0008103

In [81]:
%%R -i choices
test_multi(choices,4,2)

P value  (LLR)  =  0.9024
P value (Prob)  =  1
P value (Chisq) =  0.9327

In [82]:
%%R -i choices
test_multi(choices,4,3)

P value  (LLR)  =  0.4729
P value (Prob)  =  0.3765
P value (Chisq) =  0.3949